<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>


	<ul>
	    {% for a in result %}
	        <li>{{ a.title }}</li>
	    {% endfor %}
	</ul>

	{% block body %}



	{% endblock %}


</body>
</html>