
{% block login %}

<form method="post">
	
	<label>Adresse Mail<input type="text" required placeholder="email ou pseudo"></label></br></br>
	<label>password<input type="text" required placeholder="password"></label></br></br>
	<input type="submit">
</form>


{% endblock %}