
{% block registration %}

<form method="post">
	<label>nom <input type="text" name="lastname" <!--></label></br></br>
	<label>Prénom <input type="text" name="firstname" <!--></label></br></br>
	<label>Adresse Mail <input type="text" name="mail" <!--></label></br></br>
	<label for="pseudo">pseudo <input type="text" name="pseudo"<!--></label></br></br>
	<label>password <input type="text" name="pass" <!--></label></br></br>
	<label>confirm pasword <input type="text" name="passconfirm" <!--></label></br></br>
	<label>age <input type="text" name="age" <!--></label></br></br>
	<input type="submit">
</form>


{% endblock%}