
{% block registration %}

<form method="post">
	<label>nom <input type="text" required></label></br></br>
	<label>Prénom <input type="text" required></label></br></br>
	<label>Adresse Mail <input type="text" required></label></br></br>
	<label>pseudo <input type="text" required></label></br></br>
	<label>password <input type="text" required></label></br></br>
	<label>confirm pasword <input type="text" required></label></br></br>
	<label>age <input type="text" required></label></br></br>
	<input type="submit">
</form>


{% endblock%}